body {
  color: #333;
  line-height: 1.5;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-family: 'Carrois Gothic SC';
}

h2 {
  font-family: 'Carrois Gothic SC';
  text-align: center;
}

h3 {
  margin: 0;
}

p  {
  margin: 0;
}


ul {
  margin-top: 0;
}

li {
   list-style: square;
   margin: 0;
}

blockquote {
  background-color: #A6A58D;
  background-size: cover;
  color: white;
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  text-align:center;
}
.contact {
  text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
}

.flex-container li {
  list-style-type:none;
}

.flex-item {
  background: #A6A58D;
  height: 150px;
  list-style-type: none;
  margin-top: 5px;
  padding: 1px;
  width: 200px;
}

.flex-item img {
  height: auto;
  width: 100%;
}

header {
  background-image: url(borito.jpg);
  background-position: center center;
  background-size: cover;
  color: white;
  padding-top: 100px;
  padding-right: 20px;
  padding-bottom:30px;
  padding-left: 20px;
}

.intro {
  background-image: url(onarckep.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100px;
  height:110px;
  margin: 1em;
}
.intro h2{
  margin: 1em;
  padding-top: 1.5em;
  padding-left: 3em;
}

.personal {
  background-color: #A6A58D;
  background-size: cover;
  color: white;
  text-align: center;
}

.wrap {
  max-width: 40em;
  margin: 0 auto;
}
